/* Estilos globales para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFD449;
    text-align: center;
}

/* Estilos para el encabezado */
header {
    background-color: #0F110C;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}{
    background-image: url('ruta/a/tu/imagen.jpg'); /* Ruta a la imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    color: #fff; /* Color del texto */
    padding: 1rem 0; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para la barra de navegación */
nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #444;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0;
}

nav ul li a {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    padding: 1rem;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el contenedor principal del slider */
.slider-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

/* Estilos para el contenedor de las imágenes */
.slider-content {
    display: flex;
    transition: transform 0.5s ease;
}

/* Estilos para cada imagen del slider */
.slider-item {
    min-width: 100%;
    flex: 0 0 auto;
}
